@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    position: absolute;
}
h1{
    text-align: center;
    color: whitesmoke;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 200px;
    transition: 1s;
    line-height: normal;
}
h1:hover{
    font-size:300%;
    color: gold;
}

img{
    margin-top: -28px;
    margin-left: -8px;
    width: 1920px;
    height: 250px;
    position: absolute;
    z-index: -1;
}

nav{

    background-color: black;
    width: 1920px;
    position: relative;
    margin-left: -8px;
    margin-top: -80px;
}

ul, li{
    display: flex;
    padding: 10px;
}

h2{
    padding-left: 690px;
    padding-top:220px;   
}
p{
    text-align: center;
    font-size: large;
    padding-bottom: 20px;
}

a{
    text-decoration: none;
    font-size: larger;
    color: whitesmoke;
}
