@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html{
    box-sizing: border-box;
    
}

* {
    padding:0;
    margin:0;
  }

body{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    background-color: burlywood;
    background-image: linear-gradient(right, red, yellow);
    overflow: scroll;
    
}

h1{
    text-align: center;
    color: whitesmoke;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 200px;
    transition: 1s;
    line-height: normal;
    padding-top: -200px;
    letter-spacing: 20px;
}
h1:hover{
    font-size:300%;
    color: gold;
}

img{
    margin-top: -28px;
    margin-left: -8px;
    width: 1920px;
    height: 250px;
    position: absolute;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav{

    background-color: black;
    width: 1920px;
    position: relative;
    margin-left: -8px;
    margin-top: -80px;
    background-attachment: fixed;
}

.background{
    background: url(https://images.squarespace-cdn.com/content/v1/52cc324ce4b0c0e802464336/1505744195676-QE08A7OETMLHSTV3WU9L/aircraft_a-10_thunderbolt_ii_desktop_1024x768_hd-wallpaper-708126.jpg)top repeat;
    position: relative;
    background-size:contain;
}


ul, li{
    display: flex;
    padding: 10px;
}

h2{
    padding-left: 690px;
    padding-top:220px;
    transition: 1s; 
    color: goldenrod;  
}
h2::first-letter{
    font-size: xx-large;
    color: whitesmoke;
}
h2:hover{
    font-size: 100px;
}
p{
    font-size: large;
    padding-bottom: 20px;
    padding-left: 700px;
    position: absolute;
    text-align: center;
}
p:hover{
    letter-spacing: 1px;
    transition: 2s;
}

a{
    text-decoration: none;
    font-size: larger;
    color: whitesmoke;
    transition: 2s;
}
a:hover{
    font-weight: bolder;
    transform: rotate(180deg);
}

@media screen and (max-width: 600px){
   

}

@media screen and (max-height: 300px){
   

}